<% content_for :article_title do %>
	<%= @article.title if @article%>
<% end %>

<% content_for :article_subtitle do %>
	<%= @article.subtitle if @article%>
<% end %>

<% content_for :article_summary do %>
	<% if @article%>
		<% template = Liquid::Template.parse(@article.summary) %>
		<%= raw(template.render(Goldencobra::Article::LiquidParser)) %>
	<% end %>
<% end %>

<% content_for :article_content do %>
	<% if @article%>
		<% template = Liquid::Template.parse(@article.content) %>
		<%= raw(template.render(Goldencobra::Article::LiquidParser)) %>
	<% end %>
<% end %>

<% content_for :article_context_info do %>
	<%= raw(@article.context_info) if @article%>
<% end %>

<% content_for :article_teaser do %>
	<% if @article%>
		<% template = Liquid::Template.parse(@article.teaser) %>
		<%= raw(template.render(Goldencobra::Article::LiquidParser)) %>
	<% end %>
<% end %>

<% content_for :article_breadcrumb do %>
	<%= breadcrumb() if @article%>
<% end %>

<% content_for :article_widgets do %>
  <% if @article %>
    <% @article.widgets.active.each do |widget| %>
      <section class="<%= widget.css_name %>" id="<%= widget.id_name %>">
		<% template = Liquid::Template.parse(widget.content) %>
		<%= raw(template.render(Goldencobra::Article::LiquidParser)) %>
		<%#
		
		context = Radius::Context.new do |c|
		    c.define_tag 'newsletter_form' do |tag|
		      type = tag.attr['type']
				render(:partial => "goldencobra_newsletter/newsletters/register" :locals => {:type => type })
		    end
		  end
		%>
		
		<%# parser = Radius::Parser.new(@radius_parser_context, :tag_prefix => 'r') %>
		<%#= raw(parser.parse(widget.content)) %>
	  </section>
    <% end %>
  <% end %>
<% end %>

<% content_for :social_sharing_buttons do %>
	<% if @article.enable_social_sharing %>
		<!-- Facebook -->
		<div id="facebook-sharing-iframe">
			<iframe src="//www.facebook.com/plugins/like.php?href=http://<%= s("goldencobra.url").html_safe %><%= @article.public_url %>&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=false&amp;action=recommend&amp;colorscheme=light&amp;font&amp;height=20" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:20px;" allowTransparency="true"></iframe>
		</div>
		<!-- Twitter -->
		<div id="twitter-sharing">
			<a href="https://twitter.com/share" class="twitter-share-button" data-via="twitterapi" data-lang="<%= I18n.locale.to_s %>"><%= t("tweet") %></a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div>
		<!-- Google+ -->
		<div id="google-plus-sharing">
			<div class="g-plusone" data-size="medium"></div>
			<script type="text/javascript">
			  window.___gcfg = {lang: '<%= I18n.locale.to_s %>'};

			  (function() {
			    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
			    po.src = 'https://apis.google.com/js/plusone.js';
			    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
			  })();
			</script>
		</div>
	<% end %>
<% end %>
