<li id="overview_item_<%= item.id %>" class="listItem">
	<div class="item">
		<% if item.children.count > 0 %>
			<div class="folder"></div>
		<% else %>
			<div class="last_folder"></div>
		<% end %>

		<% if Goldencobra::Permission.restricted?(item) %>
			<div class="secured"></div>
		<% end %>
		<div class="title"><%= link_to item.send(link_name), eval("admin_#{url_path.pluralize}_path(:q => {:parent_ids_in => item.id})"), :title => "Pfad anzeigen" %></div>
		<div class="options">
			<%= link_to I18n.t('active_admin.shared.views.item.link1'), eval("edit_admin_#{url_path}_path(item)"), :class => "edit_link", :title => I18n.t('active_admin.shared.views.item.title1') %>
			<%= link_to I18n.t('active_admin.shared.views.item.link2'), eval("new_admin_#{url_path}_path(:parent => item)"), :class => "new_link", :title => I18n.t('active_admin.shared.views.item.title2') %>
		</div>
	</div>
	<% if item.children %>
		<ul style="display: none;">
			<% item.children.order(order_by.to_sym).each do |art|%>
				<%= render :partial => "/goldencobra/admin/shared/item", :object => art, :locals => {:link_name => link_name, :url_path => url_path, :order_by => order_by } %>
			<% end %>
		</ul>
	<% end %>
</li>

