<!DOCTYPE html>
<html>
<head>
  <%= display_meta_tags %>
  <%= stylesheet_link_tag    "goldencobra/application", :media => "all" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "goldencobra/application" %>
  <%= javascript_include_tag "application" %>	

  <%= csrf_meta_tags %>
</head>
<body>

<%= navigation_menu(1, :depth => 1) %>	

<h1><%= yield(:article_title) %></h1>

<div>
	<%= breadcrumb() %>	
</div>

<%= yield %>

<div id="article_content">
	<%= yield(:article_subtitle) %>	
	<%= yield(:article_summary) %>	
	<%= yield(:article_content) %>	
	<%= yield(:article_teaser) %>	
</div>

<%= navigation_menu(2) %>	


</body>
</html>
