<!DOCTYPE html>
<html>
<head>
  <%= basic_goldencobra_headers() %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= navigation_menu(1, :depth => 1) %>

<h1><%= yield(:article_title) %></h1>

<div>
	<%= breadcrumb() %>
</div>
<div id="social_sharing_buttons" class="top_buttons">
	<%= yield(:social_sharing_buttons) %>
</div>

<%= yield %>

<div id="article_content">
	<%= yield(:article_subtitle) %>
	<%= yield(:article_summary) %>
	<%= yield(:article_content) %>
	<%= render_article_image_gallery %>
	<%= yield(:article_teaser) %>
  <div id="widgets">
  	<%= render_article_widgets(:default => true,:tagged_with => "sidebar") %>
  </div>
    <%= index_of_articles(:wrapper=>:article) %>
</div>
<div id="social_sharing_buttons" class="bottom_buttons">
	<%= yield(:social_sharing_buttons) %>
</div>

<%= render_article_widgets(:tagged_with => "sidebar") %>

<%= navigation_menu(2) %>




</body>
</html>
