<!DOCTYPE html>
<html>
<head>
  <%= display_meta_tags %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>

<%= navigation_menu(1, :depth => 1) %>	

<%= yield %>

</body>
</html>
