<!DOCTYPE html>
<html>
<head>
  <%= basic_goldencobra_headers(exclude: ['airbrake']) %>
  <%= stylesheet_link_tag "application", :media => "all" %>

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


  Current Client:  <%= @current_client.inspect %>

  <script type="text/javascript" src="http://jira.ikusei.de/s/d41d8cd98f00b204e9800998ecf8427e/de_DE-95cttb-1988229788/6144/26/1.4.0-m6/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?collectorId=126c9cc6"></script>
<br>



  Default Locale: <%= I18n.default_locale %>
  Locale: <%= I18n.locale %>
  Session: <%= session[:locale] %>
  <br>
  <%= link_to "Deutsch", switch_language_path("de") %>
  <%= link_to "Englisch", switch_language_path("en") %>
  <%= link_to "TEst", "/", :remote => true %>

  <hr>
  <strong>Neues Navigationsmenü</strong>


  <div id="navigation-menu-1"></div>
  <script type="text/javascript">
    React.render(
      React.createElement(NavigationMenu, {menuId: '1', methods: 'liquid_description', depth: '2', id: 'ul-main-nav'}),
      document.getElementById('navigation-menu-1')
    );

  </script>

<hr>
<strong>Altes Navigationsmenü</strong>

<%= navigation_menu(1, :id => "ul-main-nav", :depth => 2) %>

<hr>
<strong>Sonstige Navigationsmenüvarianten</strong>

<%= navigation_menu("A-Menu", :depth => 1) %>
<%= navigation_menu("A-Menu/Z-Menu", :depth => 1) %>
<%= render_article_widgets(:tagged_with => "header") %>
<div>
	<%= breadcrumb() %>
</div>
<div id="social_sharing_buttons" class="top_buttons">
	<%= yield(:social_sharing_buttons) %>
</div>


<h2><%= t('welcome') %></h2>

<div id="article_content">
  <%= yield %>
  <%= render_article_type_content() %>
	<%= render_article_image_gallery %>
  <div id="widgets">
  	<%= render_article_widgets(default: true, tagged_with: "sidebar") %>
  </div>
</div>
<div id="social_sharing_buttons" class="bottom_buttons">
	<%= yield(:social_sharing_buttons) %>
</div>


<%= navigation_menu(2) %>

<h2>Login:</h2>
<h3>Visitor</h3>
<%= render_login_widget(Visitor) %>
<hr />
<h3>AdminUser</h3>
<%= render_login_widget(User) %>

<h2>Registration:</h2>
<h3>Visitor</h3>
<%= render_registration_widget(Visitor) %>
<hr />
<h3>AdminUser</h3>
<%= render_registration_widget(User) %>

<h3>AdminUser with associated_model Visitor</h3>
<%= render_registration_widget(User,Visitor) %>


</body>
</html>
