<!DOCTYPE html>
<html>
<head>
  <%= display_meta_tags %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>

<%= navigation_menu(1, :depth => 1) %>	

<h2>
	<%= yield(:article_title) %>
</h2>

<%= yield %>

<%= yield(:article_content) %>



</body>
</html>
