<article class="standard">
  <h1><%= yield(:article_title) %></h1>

  <% if yield(:article_subtitle).present? %>
    <h2 class="subtitle"><%= yield(:article_subtitle) %></h2>
  <% end %>

  <% if @article.present? && @article.article_images.where(position: "standard").any? && @article.article_images.where(position: "standard").first.image.present? %>
    <div class="main-image">
      <%= image_tag(@article.article_images.where(position: "standard").first.image.image.url(:large), :alt => @article.article_images.where(position: "standard").first.image.alt_text, :title => @article.article_images.where(position: "standard").first.image.alt_text) %>
    </div>
  <% end %>

  <% if yield(:article_summary).present? %>
    <div class="summary">
      <%= yield(:article_summary) %>
    </div>
  <% end %>

  <div class="content">
    <%= yield(:article_content) %>
  </div>
</article>