<div class="left">
  <%= link_to image_tag("goldencobra/cobra_small.png"), "/admin", :target => "_blank" %>
</div>
<div class="center">
  <%= link_to Goldencobra::Setting.for_key('goldencobra.page.default_title_tag'), "/admin", :target => "_blank" %>
</div>
<div class="right">
  <%= link_to "#{@operator.email} abmelden", "/admin/logout" %>
  <a href='/admin/articles/<%= @article.id %>/edit' target="_blank" >Artikel im Backend bearbeiten</a>
  <% if @article.active? %>
    <%= link_to "Artikel offline stellen", "manage/article_visibility/#{@article.id}", :remote => true, :confirm => "Seite offline schalten?" %>
  <% else %>
    <%= link_to "Artikel online stellen", "manage/article_visibility/#{@article.id}", :remote => true, :confirm => "Seite online schalten?" %>
  <% end %>
</div>
