<!DOCTYPE html>
<html>
<head>
  <title>Goldencobra</title>
  <%= stylesheet_link_tag    "goldencobra/application", :media => "all" %>
  <%= javascript_include_tag "goldencobra/application" %>
  <%= csrf_meta_tags %>
  <%= display_meta_tags :site => 'My website', :open_graph => { :title => 'The Rock', :type => 'movie' } %>
</head>
<body>

<%= navigation_menu(1, :depth => 1) %>	

<%= yield %>

<%= navigation_menu(2) %>	

</body>
</html>
