<h4>Einzelnes Bild einfügen</h4>

<%= link_to "Mediathek öffnen", "#", :id => "open_goldencobra_image_maganger" %>

<div id="goldencobra_image_maganger" style="display:none">
	<div class="header">
		<div class="close"></div>
	</div>
	<ul>
		<% Goldencobra::Upload.scoped.each do |upload| %>
			<% if upload && upload.image && upload.image.url %>
				<li><%= image_tag upload.image.url(:mini)%></li>
			<% end %>
		<% end %>		
	</ul> 
</div>

<br/><br/>

<h4>Bildergallery einfügen</h4>
<p>Alle Bilder, die mit folgenden Tags versehen sind, sollen angezeigt werden</p>

<%= semantic_form_for ["admin", @article], :html => {:id => "goldencobra_article_image_gallery_tags"} do |f| %>
	<ul>
		<%= f.input :image_gallery_tags %>
	</ul>
	
	<% if @article.image_gallery_tags.present? %>
		<p><%= pluralize(Goldencobra::Upload.tagged_with(@article.image_gallery_tags).count, "Bild", "Bilder") %> ausgewählt</p>
	<% end %>
	
	<p><br/><%= f.submit "Bilder auswählen" %></p>
<% end %>

