<!-- <h4>Einzelnes Bild einfügen</h4> -->

<%#= link_to "Mediathek öffnen", "#", :id => "open_goldencobra_image_maganger" %>
<!--
<div id="goldencobra_image_maganger" style="display:none">
	<div class="header">
		<div class="close"></div>
	</div>
	<ul>
		<%# Goldencobra::Upload.all.each do |upload| %>
			<%# if upload && upload.image && upload.image.url %>
				<li><%#= image_tag upload.image.url(:mini)%></li>
			<%# end %>
		<%# end %>
	</ul>
</div>

<br/><br/>
 -->

<h5><%= I18n.t('active_admin.articles.views.image_module_sidebar.h5') %></h5>
<p><%= I18n.t('active_admin.articles.views.image_module_sidebar.p') %></p>

<%= semantic_form_for ["admin", @article], :html => {:id => "goldencobra_article_image_gallery_tags"} do |f| %>
  <%= hidden_field_tag "article[image_gallery_tags][]", "", id: "article_image_gallery_tags_hidden" %>
  <%= select_tag "article[image_gallery_tags][]", options_for_select(Goldencobra::Upload.all.tag_counts_on(:tags).map{|tag| tag.name}, @article.image_gallery_tags.present? ? @article.image_gallery_tags.split(",") : []), :multiple => true, :include_blank => true, :class => "chzn-select", "data-placeholder" => I18n.t('active_admin.articles.views.image_module_sidebar.placeholder') %>

	<% if @article.image_gallery_tags.present? %>
		<p>
			<%= pluralize(Goldencobra::Upload.tagged_with(@article.image_gallery_tags).count, I18n.t('active_admin.articles.views.image_module_sidebar.tag1'), I18n.t('active_admin.articles.views.image_module_sidebar.tag2')) %> ausgewählt
		</p>
	<% end %>
	<br/>

	<p>
		<br/>
		<%= I18n.t('active_admin.articles.views.image_module_sidebar.type_p') %>
	</p>
	<br/>
	<%= select_tag 'article[image_gallery_type]', options_for_select(["lightbox", "slider"], @article.image_gallery_type), :include_blank => false %>

	<p>
		<br/>
		<%= f.submit I18n.t('active_admin.articles.views.image_module_sidebar.submit') %>
	</p>
<% end %>

