<h4>Welche Artikel möchten Sie als Index darstellen?</h4>

<%= semantic_form_for ["admin", @article], :html => {:id => "goldencobra_events_article_articles_index_list_modul"} do |f| %>
	<ul>
		<%= f.input :article_for_index_id, label: "Artikel", :as => :select, :collection => Goldencobra::Article.active.map{|a| [a.title, a.id]}, :include_blank => true, id: "article_event_articleindex_id", :hint => "alle Artikel unterhalb dieses Artikels werden aufgelistet, exklusive diesem selbst." %><br />
		<%= f.input :article_for_index_levels, label: "Ebenen waehlen", :hint => "0: Alle Unterartikel anzeigen (default)  - 1,2,3...: alle bis zur 1.,2.,3. Ebene waehlen", :default => 0  %>
		<%= f.input :article_for_index_count, label: "Anzahl waehlen", :hint => "0: Beliebig viele anzeigen (default)  - 1,2,3...: maximal 3 Artikel anzeigen", :default => 0  %>
		<%= f.input :article_for_index_images, label: " Bilder anzeigen?", :default => false  %>
	</ul><br />
	<%= f.submit "Artikel auswaehlen" %>
<% end %>