l<div class="layout-sidebar">
  <h5>
    I18n.t('active_admin.articles.views.layout_sidebar.h5') <%= I18n.t(@article.article_type.split(' ').first.to_s.strip, :scope => [:goldencobra, :article_types], :default => @article.article_type.split(' ').first) %>
  </h5>
  <% article_types = {} %>
  <% Goldencobra::Article.article_types_for_select.each do |article_type| %>
    <% translated_article_type = I18n.t(article_type.parameterize.underscore.downcase, scope: [:goldencobra, :article_types], default: article_type) %>
    <% article_types[translated_article_type.to_sym] = article_type %>
  <% end %>

  <%= form_tag change_articletype_admin_article_path(@article.id) do %>
    <%= select_tag :new_article_type, options_for_select(article_types.sort, @article.article_type), :include_blank => false %>
    <br/><br/>
    <%= submit_tag I18n.t('active_admin.articles.views.layout_sidebar.submit'), id: "submit_widgets_partial" %>
  <% end %>
  <br/>
  <hr>
  <br/>

  <%= semantic_form_for ["admin", @article], :html => {:id => "goldencobra_events_article_event_modul"} do |f| %>
    <h5>
      <%= I18n.t(@article.article_type.split(' ').first.to_s.strip, :scope => [:activerecord, :models, "goldencobra/article"], :default => "Layout der Seite") %>
    </h5>
    <%= f.select :template_file, Goldencobra::Article.templates_for_select, :include_blank => false %>
    <br/><br/>
    <%= f.submit t("submit_layout", :scope => [:active_admin, :sidebars]) %>
  <% end %>
</div>