
<% if @article.link_checker.present? && @article.link_checker.class == Hash %>
	<% status200er =  @article.link_checker.select{|key,value| value.present? && value['response_code'] == "200"} %>
	<h2><%= @article.link_checker.count - status200er.count %>x Status 404,301... :</h2>
	<% if (@article.link_checker.count - status200er.count) == 0 %>
		<h4>Alle Links sind in Ordnung!</h4>
	<% end %>
	<ul>
		<% @article.link_checker.each do |key,values| %>
			<% next if values.blank? %>
			<% next if values['response_code'] == "200" %>
			<li class="response_404">
				<%= key %><br/>
				Status: <%= values['response_code'] %> <%= values['response_error'] %>
			</li>
		<% end %>
	</ul>

	<h2><%= status200er.count %>x Status 200:</h2>
	<ul>
		<% status200er.each do |key,values| %>
			<% next if values.blank? %>
			<li class="response_200">
				<%= key %><br/>
				Time: <%= values['response_time'] %> <%= values['response_error'] %>
			</li>
		<% end %>
	</ul>
<% end %>

<%= link_to "Run Link-Checker", run_link_checker_admin_article_path(@article.id) %>