<h5><%= I18n.t('active_admin.articles.views.link_checker.h5') %></h5>

<% if @article.link_checks.any? %>
	<% status200er =  @article.link_checks.where(response_code: "200") %>
	<h2><%= @article.link_checks.count - status200er.count %>x Status 404,301... :</h2>
	<% if (@article.link_checks.count - status200er.count) == 0 %>
		<h4><%= I18n.t('active_admin.articles.views.link_checker.h4') %></h4>
	<% end %>
	<ul>
		<% @article.link_checks.where("id not in (?)", status200er.map(&:id) ).each do |lc|%>
			<li class="response_404">
				<%= lc.target_link %><br/>
				I18n.t('active_admin.articles.views.link_checker.status') <%= lc.response_code %> <%= lc.response_error %>
			</li>
		<% end %>
	</ul>

	<h2><%= status200er.count %>x Status 200:</h2>
	<ul>
		<% status200er.each do |lc| %>
			<li class="response_200">
				<%= lc.target_link %><br/>
				Time: <%= lc.response_time %> <%= lc.response_error %>
			</li>
		<% end %>
	</ul>
<% end %>

<%= link_to I18n.t('active_admin.articles.views.link_checker.link'), run_link_checker_admin_article_path(@article.id) %>