<!DOCTYPE html>
<html>
<head>
  <%= render "/layouts/header_meta" %>
</head>
<body>
  <%= render "/layouts/navigation" %>

  <%# page content %>
  <%= render_article_type_content %>
  <%= yield %>

  <%= render "/layouts/footer" %>

  <%= javascript_include_tag "application" %>

  <%# place for special page javascripts %>
  <%= yield :page_script %>
</body>
</html>
