<!DOCTYPE html>
<html>
<head>
  <title></title>
  <%= render "/layouts/header_meta" %>
</head>
<body>
  <%# page content %>
  <div>
    <%= render_article_type_content %>
    <%= yield %>
  </div>

  <%= render "/layouts/footer" %>

	<%= javascript_include_tag "application" %>

  <%# place for special page javascripts %>
  <%= yield :page_script %>
</body>
</html>
