<div class="register_form">
  <%= form_for(Visitor.new, :as => "visitor", :url => "/frontend_register/#{usermodel}?associated_model=#{associated_model}", :html => {:id => "new_registration_visitor"},:remote => true) do |f| %>
    <p class="errors"></p>
    <div class="clearfix">
      <%= f.label :email, f.submit I18n.t('goldencobra.register.label_email') %>
    <div class="input">
        <%= f.email_field :email, required: true %>
      </div>
    </div>

    <div class="clearfix">
      <%= f.label :username, I18n.t('goldencobra.register.label_username') %>
    <div class="input">
        <%= f.text_field :username, required: true %>
      </div>
    </div>

    <div class="clearfix">
      <%= f.label :password, I18n.t('goldencobra.register.label_password') %>
    <div class="input">
        <%= f.password_field :password, required: true %>
      </div>
    </div>

    <div class="clearfix">
      <%= f.label :password_confirmation, I18n.t('goldencobra.register.label_pass_confirmation') %>
    <div class="input">
        <%= f.password_field :password_confirmation, required: true %>
      </div>
    </div>

    <div class="clearfix agb">
      <div class="input">
          <%= f.check_box :agb, required: true %>
      </div>
      I18n.t('goldencobra.register.div') *
    </div>
    <!-- <div class="clearfix agb">
      <div class="input">
          <%#= f.check_box :newsletter %>
      </div>
      Ich möchte mich für den Newsletter anmelden
    </div> -->
    <div class="actions">
    <%= f.submit I18n.t('goldencobra.register.submit'), :class => "button" %>
    <%#= render :partial => "devise/shared/links" %>
    </div>
  <% end %>
</div>